<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <ul>
        <% categories.forEach(category => { %>
            <li class="project">
                <a href="/category/<%= category.category_id %>">
                    <h2><%= category.name %></h2>
                </a>
            </li>
        <% }); %>
    </ul>
    <p><a href="/new-category">Add a New Category</a></p>
    <img class="main-logo" src="images/cse340-service-network.png" alt="CSE 340 Service Network Logo">
</main>
<%- include('partials/footer') %>