<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
        <h2>Upcoming Service Projects</h2>
        <ul>
            <% projects.forEach(project => { %>
                <li><a href="/project/<%= project.service_project_id %>"><h3><%= project.title %></h3></a>
                <div><strong>Sponsored By:</strong><a href="/organization/<%= project.organization_id %>"><strong><%= project.name %></strong></a></div></li>
            <% }); %>
        </ul>
    </main>
<%- include('partials/footer') %>