<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
        <h2>Upcoming Service Projects</h2>
        <ul>
            <% projects.forEach(project => { %>
                <li><strong><%= project.title %></strong>: <%= project.description %><br>
                <strong>Location:</strong><%= project.location %> <strong>Date:</strong><%= project.date %><br>
                <strong>Sponsored By:</strong><%= project.name %></li><br>
            <% }); %>
        </ul>
    </main>
<%- include('partials/footer') %>