<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
        <h2>Upcoming Service Projects</h2>
        <ul>
            <% projects.forEach(project => { %>
                <li><h3><%= project.title %></h3> <%= project.description %>
                <div class="topline"><strong>Location:</strong><%= project.location %></div>
                <div><strong>Date:</strong><%= project.date %></div>
                <div><strong>Sponsored By:</strong><%= project.name || 'No sponsor'%></div></li>
            <% }); %>
        </ul>
    </main>
<%- include('partials/footer') %>